<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/admin/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/admin/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/admin/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/admin/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/admin/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/admin/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/admin/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/admin/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/admin/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/admin/assets/css/style.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Con el Alma - Listado Locales</title>
</head>

<body>

  <nav th:replace="components/fragments :: header"></nav>
  <nav th:replace="components/fragments :: sidebar"></nav>
  <!-- INICIO MAIN-->
  <main id="main" class="main">

    <!-- === FORMULARIO CUPONES === -->
    <div class="pagetitle">
      <h1>Locales</h1>
      <nav>

        <div>

          <div th:if="${error}" class="container mt-4 text-center">
            <div class="row col-md-4 mx-left">
              <div th:text="${error}" class="alert alert-danger m-0 shadow"></div>
            </div>
          </div>

          <div th:if="${exito}" class="container mt-4 text-center">
            <div class="row col-md-4 mx-left">
              <div th:text="${exito}" class="alert alert-success m-0 shadow"></div>
            </div>
          </div>
        </div>

        <div id="showHide" th:style="${estado == true}? 'display: block' : 'display: none'"
          class="row justify-content-center pt-2 mt-5 mr-1">
          <div class="col-md-5 formulario">

            <div class="card text-center shadow">

              <form th:action="@{/locales/__${action}__}" th:object="${local}" method="POST"
                enctype="multipart/form-data">

                <div class="form-group text-center">
                  <img th:src="@{/admin/img/logo0.png}" width="180" alt="Letras solo con el alma">
                  <h4 class="text-secondary">Registro de Local</h4>
                </div>

                <input hidden class="form-control" id="id" placeholder="Id" th:field="*{id}" type="text"
                  th:if="${local!=null}" />

                <div class="form-group mx-sm-4 pt-2">

                  <input type="text" id="nombre" th:field="*{nombre}" placeholder="Nombre" class="form-control">
                  <div style="text-align: left;" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
                    class="text-danger"></div>
                </div>

                <div class="form-group mx-sm-4 pt-2">

                  <input type="text" id="direccion" th:field="*{direccion}" placeholder="Dirección"
                    class="form-control">
                  <div style="text-align: left;" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"
                    class="text-danger"></div>
                </div>

                <div class="form-group mx-sm-4 pt-2">

                  <input type="text" id="cantidadMaximaPersonas" th:field="*{cantidadMaximaPersonas}"
                    placeholder="Cantidad maxima de personas" class="form-control">
                  <div style="text-align: left;" th:if="${#fields.hasErrors('cantidadMaximaPersonas')}"
                    th:errors="*{cantidadMaximaPersonas}" class="text-danger"></div>
                </div>

                <div class="form-group mx-sm-4 pt-2">

                  <input type="text" id="precio" th:field="*{precio}" placeholder="Precio" class="form-control">
                  <div style="text-align: left;" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"
                    class="text-danger"></div>
                </div>

                <div class="form-group  pt-3">
                  <label for=" foto">Cargar foto</label><br>

                  <input type="file" name="imagen" accept="image/*">
                </div>

                <div class="form-group d-grid gap-2 pt-4">
                  <button type="submit" class="btn btn-outline-primary ingresar">Registrar local</button>
                </div>

              </form>

            </div>
          </div>
        </div>

        <br>
        <button class="btn btn-primary" onclick="showAndHide()"><i class="fas fa-bars"></i>Crear/Cancelar
        </button>

      </nav>
    </div><!-- End Page Title -->


    <!-- === TABLA localS TODOS === -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Listado</h5>

              <div th:if="${locales.isEmpty()}">
                <h5>Todavía no hay locales cargados. <a th:href="@{/locales/todos}">Cargar local.</a></h5>
              </div>
              <div class="table-responsive" th:unless="${locales.isEmpty()}">
                <table class="table table-hover table-sm">
                  <thead class="">
                    <tr>
                      <th class="col-md-3 px-md-2 text-center" scope="col">
                        Foto
                      </th>
                      <th class="col-md-3 px-md-2" scope="col">Nombre</th>
                      <th class="col-md-3 px-md-2" style="width: 15%;" scope="col">Dirección</th>
                      <th class="col-md-3 px-md-2" scope="col">Cant. maxima de personas</th>
                      <th class="col-md-3 px-md-2" style="width: 5%;" scope="col">Precio</th>

                      <th class="col-md-3 px-md-2 text-center" style="width: 100%;" scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="local : ${locales}">
                      <th class="col-md-2 px-md-2 text-center" scope="row" th:text="${local.id}" hidden></th>

                      <td th:if="${local.foto != null}" class="col-md-2 px-md-2 text-center" scope="row">

                        <img th:if="${!local.foto.isEmpty()}" th:src="@{/admin/uploads/__${local.foto}__}"
                          style="max-height: 45px; border-radius: 10%; padding: 1%;">

                        <img th:if="${local.foto.isEmpty()}" th:src="@{/admin/uploads/no-disponible.png}" alt=""
                          style="max-height: 45px; border-radius: 10%;">

                      </td>
                      <td th:if="${local.foto == null}">
                        <p> </p>
                      </td>

                      <td class="col-md-2 px-md-2" style="padding: 1%;" th:text="${local.nombre}"></td>
                      <td class="col-md-2 px-md-2" style="padding: 1%;" th:text="${local.direccion}"></td>
                      <td class="col-md-2 px-md-2" style="padding: 1%;" th:text="${local.cantidadMaximaPersonas}"></td>
                      <td class="col-md-2 px-md-2" style="padding: 1%;" th:text="${local.precio}"></td>


                      <td class="col-md-2 px-md-2 d-flex justify-content-around w-100" style="padding: 6%;">
                        <a style="width: 100px;margin-right: 5%;"
                          th:class="${local.estado} ? 'btn btn-warning btn-sm' : 'btn btn-light btn-sm'"
                          th:href="${local.estado != false} ? (@{/locales/editar/__${local.id}__}) : '#' "
                          th:disabled="${local.estado} == false">Editar</a>

                        <form method="post"
                          th:action="${local.estado} ? @{/locales/desactivar/__${local.id}__} : @{/locales/activar/__${local.id}__}">
                          <button style="width: 100px;"
                            th:class="${local.estado} ? 'btn btn-danger btn-sm' : 'btn btn-primary btn-sm'"
                            type="submit" th:text="${local.estado} ? 'Deshabilitar' : 'Habilitar'"></button>
                        </form>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- === FIN TABLA localS TODOS === -->

  </main><!-- End #main -->

  <br><br>

  <footer th:replace="components/fragments :: footer"></footer>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <script th:src="@{/admin/js/local.js}"></script>
  <!-- Vendor JS Files -->
  <script th:src="@{/admin/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/admin/assets/vendor/chart.js/chart.min.js}"></script>
  <script th:src="@{/admin/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/admin/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/admin/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/admin/assets/vendor/tinymce/tinymce.min.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/admin/assets/js/main.js}"></script>
</body>

</html>