
/*Inicio Error Controller*/
.fondo {
  height: 100%;
  background-repeat: no-repeat;
  background: url("../img/errors.svg") no-repeat center center fixed;

  background-size: 100% 100%;
}

.mover {
  margin-top: 144px;
  color: blueviolet;
  font-weight: bold;
}
/*Fin Error Controller*/

/*--Inicio style login y signup*/

body {
  /*src\main\resources\static\img\restHD.jpg*/
  background-image: url(../img/restHD.jpg);
  /*background-image: url(./img/restHD.jpg);*/
  font-family: "Playfair Display", serif;
  background-size: cover;
}
#logo{ 
  margin-top: -88px;
}

a {
  color: #D7D9DB;
  text-decoration: none;
}

a:hover {
  color: #EE7A94;
  text-decoration: none;
}

.card {
  background: rgba(0, 0, 0, .6);
  border: 3px solid #EE7A94;
  color: #EE7A94;
  border-radius: 30px;
  
  margin-top: 150px;
  letter-spacing: 1px;
  
}
.text-decoration-none{
  margin-top: 10px;
}

.form-control:focus {
border-color: #EE7A94;
box-shadow: 0 0 0 rgba(238, 122,	148);
border-radius: 20px;
} 

.btn-outline-light{
border-radius: 20px;
border: 1px solid #EE7A94; 
}
.btn-outline-light:hover{
background: #EE7A94;
color: #D7D9DB;
border-color: #EE7A94;
}
span{
color:#D7D9DB;
}
.btn-toolbar{

margin-right: 30px;
}
/*Fin style login y signup*/
