<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>TODO supply a title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>TODO write content</div>

<form th:action="@{/cupon/agregar}" th:object="${cupon}" method="Post">
  <div class="form-group col-md-6">
    <label for="codigo">codigo:</label>
    <input type="text" id="codigo" th:field="*{codigo}">
    <br>
    <label for="descuento">descuento:</label>
    <input type="text" id="descuento" th:field="*{descuento}">
  </div>
  <input type="submit" value="Enviar la información">
</form>
</body>
</html>
