<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        
        <h1>CUPONES activos</h1>
    <table class="default">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Codigo de Cupon</th>
                <th scope="col">Descuento</th>
                <th scope="col">Fecha de creacion</th>
                <th scope="col">Fecha de modificacion</th>
                <th scope="col">estado</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cupon:${cuponesActivos}">
                <td th:text="${cupon.id}"></td>
                <td th:text="${cupon.codigo}"></td>
                <td th:text="${cupon.descuento}"></td>
                <td th:text="${cupon.fechaCreacion}"></td>
                <td th:text="${cupon.fechaModificacion}"></td>
                <td th:text="${cupon.estado}"></td>
                
        </tbody>
    </table>
    </body>
</html>
