<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo.png">
    <title>Con el Alma</title>
</head>
<body>
    <header>
        <h1>Con el Alma</h1>
    </header>
    <nav th:fragment="navbar">
        <ul>
            <li>Inicio</li>
            <li>Sobre Nosotros</li>
            <li>Servicios</li>
            <li>Promociones</li>
            <li>Contacto</li>
        </ul>
    </nav>
    
</body>
</html>