/*Inicio Error Controller*/
.fondo {
  height: 100%;
  background-repeat: no-repeat;
  background: url("../img/errors.svg") no-repeat center center fixed;

  background-size: 100% 100%;
}

.mover {
  margin-top: 144px;
  color: blueviolet;
  font-weight: bold;
}
/*Fin Error Controller*/
